TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO={{ interface_bootproto }}
DEFROUTE={{ interface_defroute }}
IPADDR={{ interface_ipaddr }}
NETMASK={{ interface_netmask }}
GATEWAY={{ interface_gateway }}
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=no
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME={{ interface_name }}
UUID=b176622c-ed65-4303-bc5b-5b8ba79d6b28
DEVICE={{ interface_name }}
ONBOOT={{ interface_onboot }}
